<messageML>


<br/>
    
    <h2> Portfolio Summary: {{name}}</h2>
    <h3> Top 5 Gains:</h3>
    <table>
            
        <thead>
                    
        <tr>
                            
            <td>Ticker:</td>
                            
            <td>Company Name:</td>
                            
            <td>Price:</td>
                            
            <td>Daily Change:</td>
                        
        </tr>
                
        </thead>

        <tbody>
            
            {{#each top10Stocks}}
            
            <tr>            
                <td><cash tag="{{symbol}}"/></td>
                <td> {{companyName}} </td>
                <td> {{latestPrice}} </td>
                <td> {{#if (isPos change)}} <emoji shortcode = "chart_with_upwards_trend"/>  <span style="color:green;"> {{change}}% </span> </td>
                        {{else}}  {{#if (isNeg change)}}  <emoji shortcode = "chart_with_downwards_trend"/>  <span style="color:red;"> {{change}}% </span> </td>
                            {{else}} 
                                No Change </td>
                            {{/if}}
                        {{/if}}   
            </tr>    

            {{/each}}

        </tbody>

    </table>
    <h3> Top 5 Losers:</h3>
    <table>
            
        <thead>
                    
        <tr>
                            
            <td>Ticker:</td>
                            
            <td>Company Name:</td>
                            
            <td>Price:</td>
                            
            <td>Daily Change:</td>
                        
        </tr>
                
        </thead>

        <tbody>
            
            {{#each bottom10Stocks}}
            
            <tr>            
                <td><cash tag="{{symbol}}"/></td>
                <td> {{companyName}} </td>
                <td> {{latestPrice}} </td>
                <td> {{#if (isPos change)}} <emoji shortcode = "chart_with_upwards_trend"/>  <span style="color:green;"> {{change}}% </span> </td>
                        {{else}}  {{#if (isNeg change)}}  <emoji shortcode = "chart_with_downwards_trend"/>  <span style="color:red;"> {{change}}% </span> </td>
                            {{else}} 
                                No Change </td>
                            {{/if}}
                        {{/if}}   
            </tr>    

            {{/each}}

        </tbody>

    </table>

    <br/>

    <div style="text-align: center;">
    <table >
        <tr>
            <td>
                <div style="margin-top:5%">
                        <h2> Percentage Currently Invested: {{portionLiquid}}% </h2>
                </div>
            </td>
            <td>
                {{pieChart portionLiquid}}
            </td>
            <td>
                <div style="margin-top:5    %">
        	        <h2> This Portfolio Is Exceeding {{comparisonTicker}} by {{compPercent}}% </h2>
                </div>
            </td>
            <td>
                {{pieChart compPercent}}
            </td>
        </tr>
    </table>
  </div>
</messageML>
